@import "variables.less";
@import "mixins.less";
@import "normalize.less";
@import "scaffolding.less";
@import "grid.less";
@import "forms.less";
@import "input-groups.less";
@import "list-group.less";
@import "navs.less";
@import "type.less";

header {
	.site-title {
		display: block;
		height: 100px;
		background-image: url("/_assets/omgbren.jpg");
		background-size: cover;
	}
}

footer {
	text-align: center;
}